In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('diabetes.csv')

In [3]:
df.shape

(768, 9)

In [4]:
df.sample(5)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
652,5,123,74,40,77,34.1,0.269,28,0
302,5,77,82,41,42,35.8,0.156,35,0
120,0,162,76,56,100,53.2,0.759,25,1
702,1,168,88,29,0,35.0,0.905,52,1
605,1,124,60,32,0,35.8,0.514,21,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Number of times pregnant                                                  768 non-null    int64
 1   Plasma glucose concentration a 2 hours in an oral glucose tolerance test  768 non-null    int64
 2   Diastolic blood pressure (mm Hg)                                          768 non-null    int64
 3   Triceps skin fold thickness (mm)                                          768 non-null    int64
 4   2-Hour serum insulin (mu U/ml)                                            768 non-null    int64
 5   Body mass index (weight in kg/(height in m)^2)                            768 non-null    float64
 6   Diabetes pedigree function                                                768 non-null    float64
 7   Age (years)                                                               768 non-null    int64
 8   Class variable                                                            768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [31]:
diabetici_minori20 = df['Age (years)'] <= 20

# Maschera per diabetici con età compresa tra 20 e 30
diabetici_compresi2030 = (df['Age (years)'] >= 20) & (df['Age (years)'] <= 30)

# Maschera per diabetici con età compresa tra 30 e 40
diabetici_compresi3040 = (df['Age (years)'] >= 30) & (df['Age (years)'] <= 40)

# Maschera per diabetici con età compresa tra 40 e 50
diabetici_compresi4050 = (df['Age (years)'] >= 40) & (df['Age (years)'] <= 50)

# Maschera per diabetici con età >= 50
diabetici_maggiori50 = df['Age (years)'] >= 50

In [53]:
df_minori20=df.loc[diabetici_minori20]
df_minori20.describe()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df_tra2030=df.loc[diabetici_compresi2030]
df_tra2030.describe()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000
mean,2.007194,114.175060,65.323741,21.796163,84.306954,31.322062,0.446827,24.599520,0.215827
std,1.795412,28.730772,19.369341,14.667277,109.456203,8.691704,0.313057,2.795996,0.411889
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,95.000000,60.000000,12.000000,0.000000,26.000000,0.237000,22.000000,0.000000
50%,2.000000,110.000000,68.000000,23.000000,56.000000,31.200000,0.364000,24.000000,0.000000
75%,3.000000,129.000000,76.000000,32.000000,125.000000,36.300000,0.580000,27.000000,0.000000
max,10.000000,199.000000,122.000000,63.000000,680.000000,67.100000,2.420000,30.000000,1.000000

In [48]:
df_tra3040=df.loc[diabetici_compresi3040]
df_tra3040.describe()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,5.078652,125.719101,69.634831,20.348315,77.410112,32.550000,0.516966,34.539326,0.460674
std,3.137975,32.229224,20.413143,16.664588,112.977850,6.765501,0.363479,3.233148,0.499857
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.084000,30.000000,0.000000
25%,3.000000,104.250000,65.250000,0.000000,0.000000,28.400000,0.258500,31.250000,0.000000
50%,5.000000,122.000000,74.000000,23.500000,0.000000,32.150000,0.397000,34.000000,0.000000
75%,7.000000,149.250000,80.000000,34.000000,130.000000,36.325000,0.708000,37.000000,1.000000
max,14.000000,197.000000,110.000000,60.000000,744.000000,52.300000,2.329000,40.000000,1.000000

In [54]:
df_tra4050=df.loc[diabetici_compresi4050]
df_tra4050.describe()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000
mean,7.031746,125.507937,74.214286,19.888889,61.515873,34.402381,0.444698,43.880952,0.555556
std,3.665922,33.517457,18.593163,16.886550,101.296534,5.921830,0.323883,2.970810,0.498888
min,0.000000,0.000000,0.000000,0.000000,0.000000,20.800000,0.085000,40.000000,0.000000
25%,5.000000,103.250000,68.000000,0.000000,0.000000,30.400000,0.238000,41.000000,0.000000
50%,7.000000,125.000000,76.000000,25.000000,0.000000,33.750000,0.338000,43.000000,1.000000
75%,9.000000,147.750000,83.500000,33.000000,113.000000,38.125000,0.581750,46.000000,1.000000
max,17.000000,196.000000,114.000000,54.000000,495.000000,52.300000,1.781000,50.000000,1.000000

In [55]:
df_oltre50=df.loc[diabetici_maggiori50]
df_oltre50.describe()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000
mean,6.033708,139.550562,78.370787,15.674157,84.123596,30.302247,0.498697,57.797753,0.483146
std,3.314738,30.494788,13.615150,18.335742,153.759391,7.529683,0.316824,6.360710,0.502547
min,0.000000,57.000000,0.000000,0.000000,0.000000,0.000000,0.121000,50.000000,0.000000
25%,4.000000,114.000000,72.000000,0.000000,0.000000,26.000000,0.237000,52.000000,0.000000
50%,6.000000,138.000000,78.000000,7.000000,0.000000,30.300000,0.452000,57.000000,0.000000
75%,8.000000,162.000000,84.000000,29.000000,146.000000,35.500000,0.687000,62.000000,1.000000
max,13.000000,197.000000,110.000000,99.000000,846.000000,46.500000,1.441000,81.000000,1.000000

In [58]:
raggruppamento=df.groupby('Age (years)')

In [60]:
raggruppamento['Diastolic blood pressure (mm Hg)'].mean()

Age (years)
21    65.936508
22    63.722222
23    64.315789
24    64.956522
25    59.666667
26    64.181818
27    73.500000
28    68.314286
29    68.241379
30    64.857143
31    64.375000
32    70.062500
33    65.647059
34    74.000000
35    75.600000
36    69.125000
37    75.947368
38    71.125000
39    72.666667
40    69.230769
41    67.590909
42    73.388889
43    78.461538
44    61.750000
45    83.066667
46    76.000000
47    78.333333
48    78.400000
49    81.400000
50    78.250000
51    84.500000
52    81.500000
53    79.000000
54    89.333333
55    70.250000
56    76.333333
57    76.800000
58    78.285714
59    74.000000
60    80.000000
61    76.000000
62    71.500000
63    78.000000
64    78.000000
65    78.666667
66    86.000000
67    72.666667
68    82.000000
69    81.000000
70    82.000000
72     0.000000
81    74.000000
Name: Diastolic blood pressure (mm Hg), dtype: float64